/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&mt ESC TAB  &kp Q  &kp W            &kp E     &kp R        &kp T          &kp Y          &kp U        &kp I    &kp O     &kp P     &kp BSPC
  &kp LSHFT  &kp A  &kp S            &kp D     &kp F        &kp G          &kp H          &kp J        &kp K    &kp L  &kp SEMI      &kp SQT
  &kp LCTRL  &kp Z  &kp X            &kp C     &kp V        &kp B          &kp N          &kp M    &kp COMMA  &kp DOT  &kp FSLH  &lt 2 ENTER
                           &mt LSHIFT LGUI  &kp LALT  &lt 1 SPACE    &lt 2 SPACE  &kp BACKSPACE  &lt 3 ENTER
            >;
        };

        NUM {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
   &trans  &kp N1    &kp N2      &kp N3   &kp N4   &kp N5    &kp N6  &kp N7  &kp N8  &kp N9   &kp N0  &kp BSPC
   &trans  &kp F1    &kp F2      &kp F3   &kp F4   &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10   &kp F11
&kp LSHFT  &trans  &kp LALT  &kp LSHIFT  &kp F12  &kp F11    &trans  &trans  &trans  &trans   &trans   &kp F12
                                 &trans   &trans   &trans    &trans  &trans  &trans
            >;
        };

        SYM {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp LESS_THAN      &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp GREATER_THAN    &kp AT  &kp DELETE
&trans  &trans  &trans  &trans  &trans  &trans    &kp KP_DIVIDE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS            &trans  &kp BSLH   &kp GRAVE
&trans  &trans  &trans  &trans  &trans  &trans        &kp GRAVE        &kp LEFT_BRACE        &kp RIGHT_BRACE            &trans  &kp PIPE   &kp TILDE
                        &trans  &trans  &trans           &trans                &trans                 &trans
            >;
        };

        NAV {
            bindings = <
  &kp CAPSLOCK  &trans  &trans  &trans  &trans  &trans    &trans        &kp HOME    &kp UP_ARROW           &trans  &trans  &trans
&kp SCROLLLOCK  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&kp KP_NUMLOCK  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans           &trans  &trans  &trans
                                &trans  &trans  &trans    &trans          &trans          &trans
            >;
        };
    };
};
